.sectionWrapper {
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 50vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.sectionWrapper input {
    cursor: pointer;
}

.mybut {
    cursor: pointer;
}

.chooseFile {
    cursor: pointer;
}

.previewImage {
    width: 10vh;
    height: 10vh;
}

.title {
    font-size: 2rem;
    margin-bottom: 15px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 80%;
    padding: 20px;
    background-color: white;
}